<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">		
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
		  
		  {{ content }}
		  
		</div><!-- /.container --></div>
		
    <footer>
    		<ul>
        		<li><a href="mailto:s.t.massey+git@gmail.com">email</a></li>
        		<li><a href="https://github.com/stmassey">github.com/stmassey</a></li>
			</ul>
		</footer>
	</body>
</html>
